@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, css, #root {
  min-height: 100%;
}

body {
  background: linear-gradient(45deg, #020024 0%, #090979 0%, #247BB3 100%);
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}

button {
  border: 0;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.title {
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 40px auto 0;
  width: 100%;
  max-width: 450px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}
